@charset "UTF-8";

table{
    text-align: center;
    width: 50%;	
	margin: auto;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	min-width: 300px;
	margin-top: 50px;
	border-collapse: collapse;
}
td{
    padding: 5px;
}

.azulado{
	background-color: rgb(240, 248, 255);
}

.nomes{
	text-align: left;
}